[user]
  name  = "Jarod Taylor"
  email = "jarodrtaylor@gmail.com"
  signingkey = ~/.ssh/id

{{- if stat (joinPath .chezmoi.homeDir ".config/git/config-work") }}
[includeIf "gitdir:{{ .work_dir }}/"]
  path = config-work
{{- end }}

[include]
  path = conf.d/delta.conf

[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto

[color "status"]
  added = blue
  updated = green
  changed = yellow
  untracked = cyan
  branch = magenta
  nobranch = normal
  unmerged = red

[init]
	defaultBranch = main

[branch]
  autosetuprebase = always

[core]
  editor = vim

[remote]
  pushDefault = origin

[fetch]
  prune = true

[merge]
  conflictStyle = zdiff3
  branchdesc = true
  log = true

[push]
  default = current

[pull]
  ff = only

[commit]
  gpgsign = true

[gpg]
  format = ssh
