# https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
{{ template "ignore/VisualStudioCode.gitignore" . }}

# https://github.com/github/gitignore/blob/main/Global/macOS.gitignore
{{ template "ignore/macOS.gitignore" . }}

# https://github.com/github/gitignore/blob/main/Rust.gitignore
{{ template "ignore/Rust.gitignore" }}

# https://github.com/github/gitignore/blob/main/Go.gitignore
{{ template "ignore/Go.gitignore" }}

# https://github.com/github/gitignore/blob/main/Node.gitignore
{{ template "ignore/Node.gitignore" }}

# https://github.com/github/gitignore/blob/main/Python.gitignore
{{ template "ignore/Python.gitignore" }}

# https://github.com/github/gitignore/blob/main/Ruby.gitignore
{{ template "ignore/Ruby.gitignore" }}

# https://github.com/github/gitignore/blob/main/Elixir.gitignore
{{ template "ignore/Elixir.gitignore" }}

mise.local.toml
