{{- if eq (env "ONEPASSWORD_AVAILABLE") "true" -}}
{{/* User chose 1Password, so use age encryption for security */}}
{{- $ageKeyFile := printf "%s/key.txt" .chezmoi.homeDir -}}
{{- if stat $ageKeyFile -}}
{{/* Include the encrypted content from the age file */}}
-----BEGIN AGE ENCRYPTED FILE-----
YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBFbFg2dkZwVW0ycm5OTWl4
QTdoYkgvaHhqSnNNSXdrZFZTVTlzd3hQbGpzCnJuVzVKeGoyS1FMZ2xkNU5IVjd5
RVpFNmRLZjdFaVZZWG5NcW9YUC9UbTQKLS0tIDFVamJML3dJbjYwMExZYnk0ZjJh
Vk0yQTVYMzZkRmdtdldycHFTU0VqLzgK8Csgi+sUUUoLtJe9BBnDRrb30Uc1CkLd
g0tTlemomkTUrqjq+TKvBAKFMnNo6ZPUtXL/sus7ULwI2NWdHS/II+Ji9bvr5U7/
kbG2L1jDpQXhbzEs5n5nqCQonyzbuF587ldTVcSAt0BHrKW2RzhlHbZA/A83tKqz
8OPyXO115lMMvjm9XvEvv77NsnPzGq/mjli0McCMsJnRvJ/eKXWxhNWqgbhaRA==
-----END AGE ENCRYPTED FILE-----
{{- else -}}
# Age encryption not available
# Run 'chezmoi init' to generate age key
{{- end -}}
{{- else -}}
{{/* User chose no 1Password, so use plain text for simplicity */}}
# Work-specific git configuration (plain text)
# Edit this file to add your work settings

[user]
    name = "Jarod Taylor"
    email = "jartaylo@estee.com"

# Uncomment and customize as needed:
# [core]
#     sshCommand = "ssh -i ~/.ssh/work_id"

[url "git@github.com-work:elc-online"]
#     insteadOf = git@github.com:your-work-org/

{{- end -}}
