{
  "version": 2,
  "plugins": {
    "compound-engineering@every-marketplace": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/every-marketplace/compound-engineering/2.68.1",
        "version": "2.68.1",
        "installedAt": "2026-02-22T02:08:07.272Z",
        "lastUpdated": "2026-04-18T18:18:51.335Z",
        "gitCommitSha": "63e76cf67f08aac6f0dccf275ce328e47deae541"
      }
    ],
    "context7@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/context7/unknown",
        "version": "unknown",
        "installedAt": "2026-02-23T20:28:52.848Z",
        "lastUpdated": "2026-03-30T18:07:05.282Z",
        "gitCommitSha": "8deab8460a9d4df5a01315ef722a5ca6b061c074"
      }
    ],
    "frontend-design@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/frontend-design/unknown",
        "version": "unknown",
        "installedAt": "2026-02-23T20:29:59.280Z",
        "lastUpdated": "2026-03-30T18:07:05.288Z",
        "gitCommitSha": "8deab8460a9d4df5a01315ef722a5ca6b061c074"
      }
    ],
    "code-review@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/code-review/unknown",
        "version": "unknown",
        "installedAt": "2026-02-23T20:31:56.308Z",
        "lastUpdated": "2026-03-30T18:07:05.285Z",
        "gitCommitSha": "8deab8460a9d4df5a01315ef722a5ca6b061c074"
      }
    ],
    "superpowers@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/superpowers/5.0.7",
        "version": "5.0.7",
        "installedAt": "2026-02-23T20:31:56.973Z",
        "lastUpdated": "2026-03-31T19:34:35.001Z",
        "gitCommitSha": "e4a2375cb705ca5800f0833528ce36a3faf9017a"
      }
    ],
    "github@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/github/unknown",
        "version": "unknown",
        "installedAt": "2026-02-23T20:31:56.976Z",
        "lastUpdated": "2026-03-30T18:07:05.281Z",
        "gitCommitSha": "8deab8460a9d4df5a01315ef722a5ca6b061c074"
      }
    ],
    "feature-dev@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/feature-dev/unknown",
        "version": "unknown",
        "installedAt": "2026-02-23T20:31:56.981Z",
        "lastUpdated": "2026-03-30T18:07:05.290Z",
        "gitCommitSha": "8deab8460a9d4df5a01315ef722a5ca6b061c074"
      }
    ],
    "code-simplifier@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/code-simplifier/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-02-23T20:31:56.984Z",
        "lastUpdated": "2026-02-23T20:31:56.984Z",
        "gitCommitSha": "8deab8460a9d4df5a01315ef722a5ca6b061c074"
      }
    ],
    "typescript-lsp@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/typescript-lsp/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-02-23T20:31:56.986Z",
        "lastUpdated": "2026-02-23T20:31:56.986Z",
        "gitCommitSha": "8deab8460a9d4df5a01315ef722a5ca6b061c074"
      }
    ],
    "playwright@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/playwright/unknown",
        "version": "unknown",
        "installedAt": "2026-02-23T20:31:56.989Z",
        "lastUpdated": "2026-03-30T18:07:05.283Z",
        "gitCommitSha": "8deab8460a9d4df5a01315ef722a5ca6b061c074"
      }
    ],
    "commit-commands@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/commit-commands/unknown",
        "version": "unknown",
        "installedAt": "2026-02-23T20:31:56.992Z",
        "lastUpdated": "2026-03-30T18:07:05.289Z",
        "gitCommitSha": "8deab8460a9d4df5a01315ef722a5ca6b061c074"
      }
    ],
    "security-guidance@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/security-guidance/unknown",
        "version": "unknown",
        "installedAt": "2026-02-23T20:31:56.997Z",
        "lastUpdated": "2026-03-30T18:07:05.287Z",
        "gitCommitSha": "8deab8460a9d4df5a01315ef722a5ca6b061c074"
      }
    ],
    "pr-review-toolkit@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/pr-review-toolkit/unknown",
        "version": "unknown",
        "installedAt": "2026-02-23T20:31:57.002Z",
        "lastUpdated": "2026-03-30T18:07:05.292Z",
        "gitCommitSha": "8deab8460a9d4df5a01315ef722a5ca6b061c074"
      }
    ],
    "claude-md-management@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/claude-md-management/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-02-23T20:31:57.007Z",
        "lastUpdated": "2026-02-23T20:31:57.007Z",
        "gitCommitSha": "8deab8460a9d4df5a01315ef722a5ca6b061c074"
      }
    ],
    "figma@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/figma/2.1.7",
        "version": "2.1.7",
        "installedAt": "2026-02-23T20:31:57.475Z",
        "lastUpdated": "2026-04-10T20:22:12.740Z",
        "gitCommitSha": "83b11c0bc199a3c6ee87df0a0bd460139fa72cdc"
      }
    ],
    "pyright-lsp@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/pyright-lsp/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-02-23T20:31:57.478Z",
        "lastUpdated": "2026-02-23T20:31:57.478Z",
        "gitCommitSha": "8deab8460a9d4df5a01315ef722a5ca6b061c074"
      }
    ],
    "skill-creator@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/skill-creator/unknown",
        "version": "unknown",
        "installedAt": "2026-03-23T21:11:33.577Z",
        "lastUpdated": "2026-03-30T18:07:05.297Z",
        "gitCommitSha": "15268f03d2f560b955584a283927ed175569678c"
      }
    ],
    "codex@openai-codex": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/openai-codex/codex/1.0.1",
        "version": "1.0.1",
        "installedAt": "2026-03-31T19:35:44.581Z",
        "lastUpdated": "2026-03-31T19:35:44.581Z",
        "gitCommitSha": "19642ad95f96a9d01a23da1e0ab568394f0e9c3e"
      }
    ],
    "sentry-mcp@sentry-mcp": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/sentry-mcp/sentry-mcp/98d3a4427aaa",
        "version": "98d3a4427aaa",
        "installedAt": "2026-04-08T16:09:44.748Z",
        "lastUpdated": "2026-04-08T16:09:44.748Z",
        "gitCommitSha": "98d3a4427aaa0d56c08fb418778217b1f366af13"
      }
    ],
    "ui-ux-pro-max@ui-ux-pro-max-skill": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/ui-ux-pro-max-skill/ui-ux-pro-max/2.5.0",
        "version": "2.5.0",
        "installedAt": "2026-04-09T03:51:05.915Z",
        "lastUpdated": "2026-04-09T03:51:05.915Z",
        "gitCommitSha": "b7e3af80f6e331f6fb456667b82b12cade7c9d35"
      }
    ],
    "consensus@claude-consensus": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-consensus/consensus/1.2.0",
        "version": "1.2.0",
        "installedAt": "2026-04-10T07:04:07.062Z",
        "lastUpdated": "2026-04-10T07:04:07.062Z",
        "gitCommitSha": "e8c0eed550a76df533c92c9467593d871a3653bd"
      }
    ],
    "last30days@last30days-skill": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/last30days-skill/last30days/3.0.0",
        "version": "3.0.0",
        "installedAt": "2026-04-14T15:35:47.611Z",
        "lastUpdated": "2026-04-14T15:35:47.611Z",
        "gitCommitSha": "23fc6c70614137106d43332c9f62dd8017caa541"
      }
    ]
  }
}