{
  "claude-plugins-official": {
    "source": {
      "source": "github",
      "repo": "anthropics/claude-plugins-official"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/claude-plugins-official",
    "lastUpdated": "2026-04-18T18:18:51.270Z"
  },
  "every-marketplace": {
    "source": {
      "source": "git",
      "url": "https://github.com/EveryInc/compound-engineering-plugin.git"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/every-marketplace",
    "lastUpdated": "2026-04-18T18:18:51.228Z",
    "autoUpdate": true
  },
  "openai-codex": {
    "source": {
      "source": "github",
      "repo": "openai/codex-plugin-cc"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/openai-codex",
    "lastUpdated": "2026-03-31T19:34:37.641Z"
  },
  "sentry-mcp": {
    "source": {
      "source": "github",
      "repo": "getsentry/sentry-mcp"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/sentry-mcp",
    "lastUpdated": "2026-04-08T16:09:36.262Z"
  },
  "ui-ux-pro-max-skill": {
    "source": {
      "source": "github",
      "repo": "nextlevelbuilder/ui-ux-pro-max-skill"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/ui-ux-pro-max-skill",
    "lastUpdated": "2026-04-09T03:50:41.368Z"
  },
  "last30days-skill": {
    "source": {
      "source": "github",
      "repo": "mvanhorn/last30days-skill"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/last30days-skill",
    "lastUpdated": "2026-04-14T15:25:48.046Z"
  },
  "claude-consensus": {
    "source": {
      "source": "github",
      "repo": "AltimateAI/claude-consensus"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/claude-consensus",
    "lastUpdated": "2026-04-10T07:04:03.851Z"
  },
  "designer-skills": {
    "source": {
      "source": "github",
      "repo": "Owl-Listener/designer-skills"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/designer-skills",
    "lastUpdated": "2026-04-14T15:22:35.712Z"
  }
}