{{- $brew_prefix := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   if eq .chezmoi.arch "arm64" -}}
{{-     $brew_prefix = "/opt/homebrew" -}}
{{-   else if eq .chezmoi.arch "amd64" -}}
{{-     $brew_prefix = "/usr/local" -}}
{{-   end -}}
{{- end -}}

{{ $ageKeyFile := printf "%s/key.txt" .chezmoi.homeDir }}

encryption = "age"

[age]
identity = {{ $ageKeyFile | quote }}
recipient = "age1mh2dqm4658zqnxethed0sw5hf0n28a8t4uw24w9akgwhgrzkwvssz90nst"

[data]
brew_prefix = {{ $brew_prefix | quote }}
ageKeyFile = {{ $ageKeyFile | quote }}
code_dir = "~/Code"
work_dir = "~/Code/work"

[[data.profiles]]
id = "personal"
code_dir = "~/Code/personal"
email = "jarodrtaylor@gmail.com"
name = "Jarod Taylor"
create_directory = true

[[data.profiles]]
id = "work"
code_dir = "~/Code/work"
create_directory = true

{{- if lookPath "delta" -}}
[diff]
command = "delta"
pager = "delta"
{{- end -}}
