#!/bin/bash

set -eufo pipefail

{{ template "scripts/eval_brew" . }}
{{ template "scripts/helper" . }}
{{ template "scripts/keepalive_sudo" . }}

# Tap required repositories
brew tap FelixKratz/formulae

{{ $brews := list
  "age"
  "bat"
  "chafa"
  "cmatrix"
  "btop"
  "diff-so-fancy"
  "fastfetch"
  "fd"
  "borders"
  "sketchybar"
  "ffmpeg"
  "fzf"
  "gatsby-cli"
  "gh"
  "git"
  "git-delta"
  "heroku"
  "jq"
  "lazygit"
  "libpq"
  "luarocks"
  "olets/tap/zsh-abbr"
  "olets/tap/zsh-autosuggestions-abbreviations-strategy"
  "mas"
  "mise"
  "neovim"
  "nowplaying-cli"
  "pam-reattach"
  "pgcli"
  "pnpm"
  "poppler"
  "postgresql@15"
  "redis"
  "ripgrep"
  "ruby-build"
  "rustup"
  "sevenzip"
  "starship"
  "swaks"
  "switchaudio-osx"
  "tlrc"
  "tree"
  "tree-sitter"
  "wget"
  "yazi"
  "zoxide"
  "zsh" -}}

{{ $casks := list
  "1password"
  "1password-cli"
  "nikitabobko/tap/aerospace"
  "adobe-creative-cloud"
  "arc"
  "beekeeper-studio"
  "betterdisplay"
  "cleanshot"
  "cursor"
  "dash"
  "discord"
  "docker"
  "expressvpn"
  "firefox@developer-edition"
  "font-fira-code-nerd-font"
  "font-fira-sans"
  "font-jetbrains-mono-nerd-font"
  "font-sf-mono"
  "font-symbols-only-nerd-font"
  "google-chrome"
  "karabiner-elements"
  "keycastr"
  "notion"
  "microsoft-outlook"
  "microsoft-teams"
  "obsidian"
  "postman"
  "raindropio"
  "raycast"
  "sf-symbols"
  "shortcat"
  "slack"
  "spotify"
  "telegram"
  "todoist"
  "ubersicht"
  "visual-studio-code"
  "warp"
  "wezterm"
  "zoom" -}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
