#!/usr/bin/env bash
set -eo pipefail

{{ template "scripts/eval_brew" . }}
{{ template "scripts/helper" . }}
{{ template "scripts/keep_sudo_alive" . }}

# Install Homebrew
BREW_DIR="$HOME/.config/homebrew"
if ! command_exists brew && [ -f "$BREW_DIR/Brewfile" ]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Install Homebrew packages
brew bundle -v --file="$BREW_DIR/Brewfile"
brew bundle -v --file="$BREW_DIR/Caskfile"
# brew bundle -v --file="$BREW_DIR/Masfile"

brew list
