#!/bin/bash

set -eufo pipefail

{{ template "scripts/eval_brew" . }}
{{ template "scripts/helper" . }}
{{ template "scripts/keep_sudo_alive" . }}

{{ $brews := list
  "age"
  "bat"
  "btop"
  "diff-so-fancy"
  "fastfetch"
  "fd"
  "fzf"
  "gh"
  "git"
  "git-delta"
  "jq"
  "lazygit"
  "mas"
  "mise"
  "neovim"
  "pgcli"
  "postgresql@15"
  "redis"
  "ripgrep"
  "ruby-build"
  "rustup"
  "starship"
  "tree"
  "tree-sitter"
  "wget"
  "zsh" -}}

{{ $casks := list
  "nikitabobko/tap/aerospace"
  "adobe-creative-cloud"
  "beekeeper-studio"
  "cleanshot"
  "cursor"
  "dash"
  "discord"
  "docker"
  "expressvpn"
  "firefox@developer-edition"
  "font-fira-code-nerd-font"
  "font-fira-sans"
  "font-jetbrains-mono-nerd-font"
  "google-chrome"
  "karabiner-elements"
  "notion"
  "microsoft-outlook"
  "microsoft-teams"
  "obsidian"
  "postman"
  "raindropio"
  "raycast"
  "sf-symbols"
  "shortcat"
  "slack"
  "spotify"
  "telegram"
  "visual-studio-code"
  "warp"
  "wezterm"
  "zed"
  "zoom" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
