Host github.com
  HostName github.com
  User git
  AddKeysToAgent yes
  UseKeychain yes
  PreferredAuthentications publickey
  IdentitiesOnly yes
  IdentityFile ~/.ssh/id_ed25519

Host github.com-work
  HostName github.com
  User git
  AddKeysToAgent yes
  UseKeychain yes
  PreferredAuthentications publickey
  IdentitiesOnly yes
  IdentityFile ~/.ssh/elc_id_ed25519
