Host *
{{- if and (lookPath "op") (eq (env "ONEPASSWORD_AVAILABLE") "true") }}
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}

Host github.com
  HostName github.com
  User git
  AddKeysToAgent yes
  UseKeychain yes
  PreferredAuthentications publickey
  IdentitiesOnly yes
{{- if and (lookPath "op") (eq (env "ONEPASSWORD_AVAILABLE") "true") }}
  IdentityFile ~/.ssh/id
{{- else }}
  IdentityFile ~/.ssh/id_ed25519
{{- end }}

Host github.com-work
  HostName github.com
  User git
  AddKeysToAgent yes
  UseKeychain yes
  PreferredAuthentications publickey
  IdentitiesOnly yes
{{- if and (lookPath "op") (eq (env "ONEPASSWORD_AVAILABLE") "true") }}
  IdentityFile ~/.ssh/work_id
{{- else }}
  IdentityFile ~/.ssh/work_id_ed25519
{{- end }}
