# Git
alias lg=lazygit

# Directory
alias mkdir="mkdir -pv"
alias cdh="cd $HOME"
alias elc="cd $CODEDIR/work/elc"

# Chezmoi
alias ch=chezmoi
alias dots="cd ~/.local/share/chezmoi"

# VSCode
alias vss='code --list-extensions | jq -R -s '\''split("\n")[:-1] | {"extensions": .}'\'' > ~/.local/share/chezmoi/home/dot_config/Code/User/extensions.json && chezmoi add ~/.local/share/chezmoi/home/dot_config/Code/User/extensions.json'

# Nvim
alias jvim="NVIM_APPNAME=nvim-jvim nvim"
