if [[ -e /opt/homebrew/bin/mise ]]; then
  eval "$(mise activate zsh)"
fi

# Only rebuild compinit cache once a day
autoload -Uz compinit
if [ "$(date +'%j')" != "$(stat -f '%Sm' -t '%j' ~/.zcompdump 2>/dev/null)" ]; then
    compinit
else
    compinit -C
fi

source "${HOME}/.config/zsh/plugins.zsh"

# ########################################
# ENVIRONMENT VARIABLES                  #
# ########################################

export MISE_NODE_DEFAULT_PACKAGES_FILE="${XDG_CONFIG_HOME}/mise/.default-npm-packages"
export MISE_RUBY_DEFAULT_PACKAGES_FILE="${XDG_CONFIG_HOME}/mise/.default-gems"

export MANPAGER="sh -c 'sed -u -e \"s/\\x1B\[[0-9;]*m//g; s/.\\x08//g\" | bat -p -lman'"
alias -g -- --help="--help 2>&1 | bat --language=help --style=plain"


# ##########################################
# BINDKEYS CONFIGURATION                   #
# ##########################################
# Set editor default keymap to emacs (`-e`) or vi (`-v`)
# bindkey -v
bindkey "ç" fzf-cd-widget

# ##########################################
# SOURCE FUNCTIONS                         #
# ##########################################

# Initialize fzf key bindings and fuzzy completion
source <(fzf --zsh)

for file in "$ZDOTDIR"/functions/*.zsh; do
  source "$file"
done

# ##########################################
# PNPM                                     #
# ##########################################
export PNPM_HOME="/Users/jarodtaylor/.local/share/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac

