{{- range .packages.brew.tap }}
tap {{ . | quote }}
{{- end }}

{{- range .packages.brew.core }}
brew {{ . | quote }}
{{- end }}

{{- range .packages.brew.shell }}
brew {{ . | quote }}
{{- end }}

{{- range .packages.brew.command }}
brew {{ . | quote }}
{{- end }}

{{- range .packages.brew.vcs }}
brew {{ . | quote }}
{{- end }}

{{- range .packages.brew.editor }}
brew {{ . | quote }}
{{- end }}

{{- range .packages.brew.database }}
brew {{ . | quote }}
{{- end }}

{{- range .packages.brew.runtime }}
brew {{ . | quote }}
{{- end }}

{{- range .packages.brew.rust }}
brew {{ . | quote }}
{{- end }}

{{- range .packages.brew.tools }}
brew {{ . | quote }}
{{- end }}
